.two-columns__paragraph {
  margin: 0 0 30px 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

.two-columns__paragraph:last-of-type {
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
  margin: 0;
}

/* Подскажите, как так получается, что 1ый бриф я сдал без этого замечания,
и он у меня сохранен. В нем нижний отступ убран ровно так же как и сейчас
через ласт-оф-тайп. Каким образом он може пропасть? Если я блок two-columns
только переисползовал в двух местах без изменений. Т.е еще ок, если нижний отступ
появился бы в блоке "techniques", но как он появился снова в том блоке который я не трогал
при работе над 2ым спринтом.
Само-собой это не претензия) Просто хочеться понять из-за каких моих возможных действий
псевдо класс мог пропасть.
Такой же вопрос про header__title. В первой итерации было сделанно замечаниея
Я на 100% уверен, что прописывал line-height: 96px; по брифу.
Но это свойство пропало "магическим образо", хотя в header только квадрат
крутили по 2у спринту.
Спасибо за ответ если он будет*/
